{{> nav }}
<main>
    <div id="articles">
        <a href="/article/1234" class="article doubleCol">
            <div class="imgContainer"><img src="resources/placeholder.jpg"></img></div>
            <h2>Article Name</h2>
            <p>Article Brief...</p>
        </a>
        <a href="/article/1234" class="article">
            <div class="imgContainer"><img src="resources/placeholder.jpg"></img></div>
            <h2>Article Name</h2>
            <p>Article Brief...</p>
        </a>
        <a href="/article/1234" class="article">
            <div class="imgContainer"><img src="resources/placeholder.jpg"></img></div>
            <h2>Article Name</h2>
            <p>Article Brief...</p>
        </a>
        <a href="/article/1234" class="article">
            <div class="imgContainer"><img src="resources/placeholder.jpg"></img></div>
            <h2>Article Name</h2>
            <p>Article Brief...</p>
        </a>
        <a href="/article/1234" class="article">
            <div class="imgContainer"><img src="resources/placeholder.jpg"></img></div>
            <h2>Article Name</h2>
            <p>Article Brief...</p>
        </a>
    </div>
</main>